<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <title>福建应为科技有限公司</title>
  <meta name="description" content="自助,景区,银医,软件开发,ACM,读卡器,阅读器,终端,密码键盘,决策支持,hospital,医院,应为">
  <meta name="Keywords" content="自助,景区,银医,软件开发,ACM,读卡器,阅读器,终端,密码键盘,决策支持,hospital,医院,应为">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/animate.min.css" rel="stylesheet" />
  <link href="/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />
  <link href="/css/meanmenu.css" rel="stylesheet" />

  <link href="/css/index.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">


</head>

<body>
  <% include public/header.html%>
  <%- body %>
  <% include public/footer.html%>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/wow.min.js"></script>
</body>

</html>