<link href="/js/bootstrapInputFile/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<script src="/js/bootstrapInputFile/js/fileinput.min.js" type="text/javascript"></script>
<script src="/js/bootstrapInputFile/js/locales/zh.js" type="text/javascript"></script>
<script src="/js/fileInput.js" type="text/javascript"></script>
<form id="dform" class="form-horizontal">
    <div class="ibox">
        <div class="ibox-title">
            <h5> 科室介绍表 修改</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <input id='deptId' name='deptId' placeholder='' type='hidden' value='<%=Model.deptId%>'><input id='imgUrl' name='imgUrl' type='hidden'>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="deptCode"> <i class=" text-danger">* </i>
                            科室编号:</label>
                        <div class="col-sm-8">
                            <input id='deptCode' name='deptCode' readonly placeholder='请输入科室编号'
                                value='<%=Model.deptCode%>' required class='form-control'>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="deptName"> <i class=" text-danger">* </i>
                            科室名称:</label>
                        <div class="col-sm-8">
                            <input id='deptName' name='deptName' placeholder='请输入科室名称' value='<%=Model.deptName%>'
                                required class='form-control'>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="address">地址 :</label>
                        <div class="col-sm-8">
                            <input id='address' name='address' placeholder='请输入地址' value='<%=Model.address%>'
                                class='form-control'>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="telNo">电话 :</label>
                            <div class="col-sm-8">
                                <input id='telNo' name='telNo' placeholder='请输入电话' value='<%=Model.telNo%>'
                                    class='form-control'>
                            </div>
                        </div>
                    </div>
                <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="MEMO">上传图片 :</label>
                            <div class="col-sm-10">    
                                <input type="file" name="filename" id="filename"   class="file-loading form-control"       data-show-preview="false" />
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="deptDesc">科室介绍 :</label>
                                <div class="col-sm-10">
                                    <textarea id='deptDesc' name='deptDesc' placeholder='请输入科室介绍' 
                                        class='form-control'><%=Model.deptDesc%></textarea>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
    </div>
</form>




<script>
    $(function () {
        var oFileInput = new FileInput();
        oFileInput.Init("filename", '/Hos/hos_dept/upload', true, new Array(), new Array(), function(item) {
            $('#imgUrl').val(item.aftername)

        });
        initValidator(); 
    });

    function initValidator() {
        $('#dform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                //科室编号
                deptCode: {
                    message: '科室编号 验证失败',
                    validators: {
                        notEmpty: {
                            message: '科室编号 不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 60,
                            message: ' 科室编号 长度在1到60之间'
                        }
                    }
                },
                //科室名称
                deptName: {
                    message: '科室名称 验证失败',
                    validators: {
                        notEmpty: {
                            message: '科室名称 不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 60,
                            message: ' 科室名称 长度在1到60之间'
                        }
                    }
                },
                
            }

        });
    }


    function Submit() {
       
        $('#dform').data('bootstrapValidator').validate();
        if (!$('#dform').data('bootstrapValidator').isValid()) {
            return false;
        }
        var action = $("#dform").attr("action");
        var params = new FormData($("#dform")[0]);
        var option = {
            postUrl: action,
            message: '确定要保存数据吗？',
            param: params,
            successCallBack: function (data) { //添加成功
                var index = parent.layer.getFrameIndex(window.name);
                parent.tableRefresh();
                parent.layer.close(index);

            },
            errorCallBack: null
        };
        bstrap.confirm(option); //弹出提示确认框
    }

</script>