<section id="scheme">
    <div class="container">
        <div class="row">
            <div class="col-3 i-menu-left">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                        aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-play"></i>  综合管理平台解决方案</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-play"></i>  景区综合解决方案</a>
                    
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">
                        <div class="container">
                            <div class="  cont_title text-center  ">
                                <h2>综合管理平台解决方案</h2>
                            </div>
                            <div class="cont_sch">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校综合管理系统要求结合学校在教育管理过程中的实际需求，集现代教育理念和新课改的教学评价思想，集学生基础信息管理与教学质量分析于一体，要具有非常突出的科学性、实用性、针对性、通用性等特点。系统要以关注学生的成长和教师的专业发展为主线，注重学生和教师的长远发展。根据新课改的要求，要发挥评价促进学生发展、教师提高和改进教学实践的功能；把整体考虑知识与能力、情感与态度、过程与方法的综合，提倡启发式、讨论式的三维教学目标贯穿于整个课程体系之中，也贯穿在整个学段之中。
                                </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教师是学校工作的中坚力量，是学校发展的第一生产力，只有注重教师专业发展过程，才能最大限度的调动每一位教师的积极性，充分发挥每一位教师的最佳潜能。通过对学生学习成绩进行横向和纵向的多角度跟踪分析，可反映教师教学质量提高水平及进步状况，为教师教学质量从粗犷管理到精细管理提供有效的监测和反馈；记录教师教学设计和备课、听课等情况，可帮助教师去发现课堂教学中的长处和不足之处，吸收先进的教学理念，充分利用教学资源；对科研成果和作品等进行记录，可了解教师的兴趣特长和专业技能，为嘉奖和晋级提供依据；对教师的继续教育情况进行记录可为合理分配教学资源、使教师各尽其能提供参考；通过对教师进行多元化的评价可以使教师正确认识自己，不断改进，为提高全校教学质量做出积极贡献。
                                </p>
                                <h2>主要功能</h2>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">Profile</div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">Messages</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">Settings</div>
                </div>
            </div>
        </div>
    </div>
</section>