 
<div class="wrapper wrapper-content animated ">
    <div class="ibox">
        <div class="ibox-title">
            <form id="dform" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="TaskID">任务名称：</label>
                            <div class="col-sm-8">
                                <select id='TaskID' name='TaskID' class='form-control'></select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Status">任务状态</label>
                            <div class="col-sm-8">

                                <select id="Status" name="Status" class="form-control">
                                    <option value="-1">全部</option>
                                    <option value="0">待执行</option>
                                    <option value="1">执行结束</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Result">执行结果：</label>
                            <div class="col-sm-8">
                                <select id="Result" name="Result" class="form-control">
                                    <option value="-1">全部</option>
                                    <option value="0">待执行</option>
                                    <option value="1">执行成功</option>
                                    <option value="2">执行失败</option>
                                </select>

                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-sm btn-primary" id="btn_search"><i
                                class="fa fa-search"></i> 搜索</button>
                        <button type="button" class="btn btn-sm btn-info" id="btn_Add"><i
                                class="fa fa-check"></i>增加</button>
                        <button class="btn btn-warning " type="button" onclick="remove()"><i
                                class="fa fa-warning"></i><span class="bold">删除</span></button>


                    </div>
                    <table id="tb_grid"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {


        $("#btn_Add").click(function () {
            addIndex();
        });
        $("#btn_search").click(function () {
            $("#tb_grid").bootstrapTable('refresh');
        });
        $('#TaskID').selectBind('/HosDz/tdz_tasklist/getComb', { mark: 1 });
        initTable();

    });


    function initTable() {

        var options = {
            gridName: 'tb_grid', //网格名称
            url: '/HosDz/tdz_taskpool/getAllList', //表格提交地址
            sidePagination: 'client', //客户端client分页还是服务端server分页
            param: queryParams, //查询参数
            uniqueId: 'BookId', //每一行的唯一标识，一般为主键列
            columns: [
                {
                    checkbox: true
                },
                {
                    'halign': 'center', 'align': 'center', field: 'TaskName', title: '任务名称', formatter: function (value, row) {
                        return "<a onclick='modify(" + row.TaskRecordId + ")'>" + value + "</a>"
                    }
                },
                { 'halign': 'center', 'align': 'center', field: 'WorkDate', title: '任务针对日期', formatter:  function(value, row)   { return bstrap.dateFtt('yyyy-MM-dd ', new Date(value)) } },
                {
                    'halign': 'center', 'align': 'center', field: 'StartTime', title: '开始时间', formatter:function (value, row)  {
                        return (value == null) ? '' : bstrap.dateFtt('yyyy-MM-dd hh:mm:ss', new Date(value))
                    }
                },
                {
                    'halign': 'center', 'align': 'center', field: 'EndTime', title: '结束时间', formatter:function (value, row)  {

                        return (value == null) ? '' : bstrap.dateFtt('yyyy-MM-dd  hh:mm:ss', new Date(value))
                    }
                },
                {
                    'halign': 'center', 'align': 'center', field: 'Status', title: '任务状态', formatter: function (value, row) {
                        if (value == 0) return '<span class="text-warning"> 待执行</span>'
                        if (value == 1) return '<span class="text-success">执行结束</span>'

                    }
                },
                {
                    'halign': 'center', 'align': 'center', field: 'Result', title: '执行结果', formatter: function (value, row) {
                        if (value == 0) return '<span class="text-warning">未执行</span>'
                        if (value == 1) return '<span class="text-success">执行成功</span>'
                        if (value == 2) return '<span class="text-danger">执行失败</span>'
                    }
                },
                { 'halign': 'center', 'align': 'center', field: 'ErrMsg', title: '错误描述' },

            ], //显示网格列表信息
            LoadSuccess: function (data) {

            }, //加载成功回调函数

            height: $(window).height() - 60,//table表格高度
        };
        bstrap.initGrid(options)
    }
    function queryParams(params) {
        var param = $.param({
            // 当前页数
            "offset": this.offset,
            "pageindex": this.pageNumber,
            // 每页显示多少条
            "pageSize": this.pageSize
        }) + '&' + $('#dform').serialize();
        return param;

    }
    function tableRefresh() {

        $("#tb_grid").bootstrapTable('refresh', $("#dform").serialize());
    }

    function addIndex() {
        var defaults = {
            title: ' 定时任务池表 增加 ',
            width: "1024px",
            height: "500px",
            url: " /HosDz/tdz_taskpool/addIndex",
            shade: 0.3,

            btn: ['确认', '关闭'],

            LoadSuccess: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.$("#dform").attr("action", "/HosDz/tdz_taskpool/add");
            },
            callBack: function (layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.submit();

            }
        };
        var index = $.modalOpen(defaults)
        //  layer.full(index);
    }
    function modify(Id) {
        var defaults = {
            title: '修改',
            width: "1024px",
            height: "500px",
            url: " /HosDz/tdz_taskpool/updateIndex?Id=" + Id,

            shade: 0.3,
            btn: ['确认', '关闭'],

            LoadSuccess: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.$("#dform").attr("action", "/HosDz/tdz_taskpool/update");
            },
            callBack: function (layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.submit();

            }
        };
        var index = $.modalOpen(defaults)
        // layer.full(index);
    }

    function remove() {

        var row = $("#tb_grid").bootstrapTable('getSelections');
        if (row == null || row.length == 0) {

            toastr.warning("请选择要操作的行");

            return;
        }
        var arrays = [];
        for (var i = 0; i < row.length; i++) {
            arrays.push(row[i].TaskRecordId);
        }
        var ids = arrays.join(',');
        var formData = new FormData();
        formData.append("ids", ids);
        var option = {
            postUrl: '/HosDz/tdz_taskpool/remove',
            message: '确定要删除这' + row.length + '条记录吗？',
            param: formData,
            successCallBack: function (data) { //成功

                tableRefresh();
            },
            errorCallBack: null
        };
        bstrap.confirm(option); //弹出提示确认框



    }



</script>