<form id="dform" autocomplete="off" class="form-horizontal" method="post"  onsubmit="return false;">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <input id='BankTransID' name='BankTransID'  type='hidden'  value='<%=Model.BankTransID%>'  class='form-control'  >
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="BussType">业务类型 :</label>
                        <div class="col-sm-8">
                            <input id='BussType' name='BussType' readonly   value='<%=Model.BussType%>'    class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="BankTransTime">银行交易时间 :</label>
                        <div class="col-sm-8">
                            <input id='BankTransTime' readonly name='BankTransTime'  value='<%=Model.BankTransDateTime%>'   class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="ThirdTransBussNo">客户姓名 :</label>
                        <div class="col-sm-8">
                            <input id='ThirdTransBussNo' readonly name='ThirdTransBussNo'   value='<%=Model.ThirdTransUserName%>'   class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="PayCode">支付方式:</label>
                        <div class="col-sm-8">
                            <input id='PayCode' name='PayCode' readonly value='<%=Model.payCodeName%>'   class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="BankTransCardNum">银行卡号 :</label>
                        <div class="col-sm-8">
                            <input id='BankTransCardNum' name='BankTransCardNum' readonly  value='<%=Model.BankTransCardNum%>'   class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="TotalAmt">原订单金额:</label>
                        <div class="col-sm-8">
                            <input id='TotalAmt' name='TotalAmt'   value='<%=Model.TotalAmt%>' readonly  class='form-control'  >
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">可退金额:</label>
                        <div class="col-sm-8">
                            <h2 class=" text-warning"><%=(Model.PayAmount + Model.ReverseRejectAmt).toFixed(2)%></h2>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refundAmount">退款金额:</label>
                        <div class="col-sm-10">
                            <input id='refundAmount' name='refundAmount' required class='form-control   input-lg'>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>




<script>
    $(function () {
        initValidator();
        $("#refundAmount").keyup(function () {
            var reg = $(this).val().match(/\d+\.?\d{0,2}/);
            var txt = '';
            if (reg != null) {
                txt = reg[0];
            }
            $(this).val(txt);
        }).change(function () {
            $(this).keypress();
            var v = $(this).val();
            if (/\.$/.test(v)) {
                $(this).val(v.substr(0, v.length - 1));
            }
        });

        if ("<%=Model.transResult%>"!= "0"  )  {
            layer.alert(' <%=Model.remark%>', {
                skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
            }, function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.tableRefresh();
                parent.layer.close(index);
            })
        }

    });




    function initValidator() {
        $('#dform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                //设备编号
              
                refundAmount: {
                    message: '可退金额验证失败',
                    validators: {
                       
                        greaterThan: {
                            value: 0,
                            message : '最小输入0'
                        },
                        lessThan: {
                            value:  "<%=(Model.PayAmount + Model.ReverseRejectAmt)%>",
                            message : '不能超过可退金额  <%=(Model.PayAmount + Model.ReverseRejectAmt)%>'
                        }
                    }
                },
              
            }
        });
    }


    function Submit() {


        $('#dform').data('bootstrapValidator').validate();
        if (!$('#dform').data('bootstrapValidator').isValid()) {
            return false;
        }
     
        var action = $("#dform").attr("action");

        var params = new FormData($("#dform")[0]);

        var option = {
            postUrl: action,
            message: '确定要退费吗？',
            param: params,
            successCallBack: function (data) { //添加成功

                var index = parent.layer.getFrameIndex(window.name);
                parent.tableRefresh();
                parent.layer.close(index);

            },
            errorCallBack:function(data){
                layer.alert(data.Msg)
            }
        };
        bstrap.confirm(option); //弹出提示确认框
    }


</script>
