 
<div class="wrapper wrapper-content animated ">
    <div class="ibox">
        <div class="ibox-title">
            <form id="dform" class="form-horizontal">
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="patientId">门诊号：</label>
                            <div class="col-sm-8">
                                <input id="patientId" name="patientId" placeholder="门诊号" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="orderCode">订单号：</label>
                            <div class="col-sm-8">
                                <input id="orderCode" name="orderCode" placeholder="订单号" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="busCode">业务类型：</label>
                            <div class="col-sm-8">
                                <select id="busCode" name="busCode" placeholder="业务类型" class="form-control">
                                    <option value=''>全部</option>
                                    <option value='01'>实时挂号</option>
                                    <option value='02'>门诊缴费</option>
                                    <option value='03'>住院预交金</option>
                                </select> </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="transState">交易状态 ：</label>
                            <div class="col-sm-8">
                                <select id="transState" name="transState" placeholder="交易状态" class="form-control">
                                    <option value='-1'>全部</option>
                                    <option value='1'>未支付</option>
                                    <option value='2'>已支付</option>
                                    <option value='3'>已退款</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">范围选择：</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <input type="text" class="input-sm form-control" id="Start" name="Start" value=" " />
                                <span class="input-group-addon">到</span>
                                <input type="text" class="input-sm form-control" id="End" name="End" value=" " />
                            </div>

                        </div>
                    </div>

                </div>
        </div>
        </form>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-5">
                    <button type="button" class="btn btn-sm btn-primary" id="btn_search"><i class="fa fa-search"></i>
                        搜索</button>



                </div>
                <table id="tb_grid"></table>
            </div>
        </div>
    </div>
</div>
</div>
<script>

    $(function () {

        $(".input-daterange").datepicker({
            keyboardNavigation: !1,
            forceParse: !1,
            autoclose: !0
        });
        $('#Start').val('<%=workDate%>'); //前一天
        $('#End').val('<%=workDate%>'); //前一天

        $("#btn_Add").click(function () {
            addIndex();
        });
        $("#btn_search").click(function () {
            $("#tb_grid").bootstrapTable('refresh');
        });
        initTable();

    });


    function initTable() {

        var options = {
            gridName: 'tb_grid', //网格名称
            url: '/Ims/ims_pay/getAllList', //表格提交地址
            sidePagination: 'client', //客户端client分页还是服务端server分页
            param: queryParams, //查询参数
            uniqueId: 'BookId', //每一行的唯一标识，一般为主键列
            columns: [
                { 'halign': 'center', 'align': 'center', field: 'createDate', title: '支付时间', formatter:  function(value, row)   { return bstrap.dateFtt('yyyy-MM-dd hh:mm:ss', new Date(value)) } },
                {
                    'halign': 'center', 'align': 'center', field: 'name', title: '就诊人姓名'
                },
                { 'halign': 'center', 'align': 'center', field: 'patientId', title: '门诊/住院号'  },
                { 'halign': 'center', 'align': 'center', field: 'orderCode', title: '订单号' },
                {
                    'halign': 'center', 'align': 'center', field: 'amount', title: '支付金额', formatter: function (value, row) {
                        return "<span style='color:red'>" + value.toFixed(2) + "</span>"
                    }
                },
                { 'halign': 'center', 'align': 'center', field: 'refundFee', title: '已退金额' },

                {
                    'halign': 'center', 'align': 'center', field: 'busCode', title: '业务类型', formatter: function (value, row) {
                        if (value == '01') {
                            return '实时挂号'
                        }
                        if (value == '02') {
                            return '门诊缴费'
                        }
                        if (value == '03') {
                            return '住院预交金'
                        }
                    }
                },

                { 'halign': 'center', 'align': 'center', field: 'payResult', title: '支付结果' },
                { 'halign': 'center', 'align': 'center', field: 'receiptNo', title: 'Hos回票据号' },

                {
                    'halign': 'center', 'align': 'center', field: 'payMode', title: '支付方式 ', formatter: function (value, row) {
                        if (value == '0') {
                            return '微信'
                        }
                        if (value == '1') {
                            return '支付宝'
                        }
                    }
                },
                {
                    'halign': 'center', 'align': 'center', field: 'transState', title: '交易状态  ', formatter: function (value, row) {
                        if (value == '0') return '未支付'
                        if (value == '1') return '已支付'
                        if (value == '2') return '已退款'

                    }
                },
                {
                    'halign': 'center', 'align': 'center', field: '', title: '操作', formatter: function (value, row) {
                        return "<a onclick='refund(" + row.payId + ")'>退款  </a>"
                    }
                },



            ], //显示网格列表信息
            LoadSuccess: function (data) {

            }, //加载成功回调函数

            height: $(window).height() - 60,//table表格高度
        };
        bstrap.initGrid(options)
    }
    function queryParams(params) {
        var param = $.param({
            // 当前页数
            "offset": this.offset,
            "pageindex": this.pageNumber,
            // 每页显示多少条
            "pageSize": this.pageSize
        }) + '&' + $('#dform').serialize();
        return param;

    }
    function tableRefresh() {

        $("#tb_grid").bootstrapTable('refresh', $("#dform").serialize());
    }

    function addIndex() {
        var defaults = {
            title: ' 公众号支付记录 增加 ',
            width: "1024px",
            height: "500px",
            url: " /Ims/ims_pay/addIndex",
            shade: 0.3,

            btn: ['确认', '关闭'],

            LoadSuccess: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.$("#dform").attr("action", "/Ims/ims_pay/add");
            },
            callBack: function (layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.submit();

            }
        };
        var index = $.modalOpen(defaults)
        //  layer.full(index);
    }
    function refund(Id) {
        var defaults = {
            title: '修改',
            width: "1024px",
            height: "500px",
            url: " /Ims/ims_pay/updateIndex?Id=" + Id,

            shade: 0.3,
            btn: ['确认', '关闭'],

            LoadSuccess: function (layero, index) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.$("#dform").attr("action", "/Ims/ims_pay/update");
            },
            callBack: function (layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.submit();

            }
        };
        var index = $.modalOpen(defaults)
        // layer.full(index);
    }

    function remove() {

        var row = $("#tb_grid").bootstrapTable('getSelections');
        if (row == null || row.length == 0) {

            toastr.warning("请选择要操作的行");

            return;
        }
        var arrays = [];
        for (var i = 0; i < row.length; i++) {
            arrays.push(row[i].payId);
        }
        var ids = arrays.join(',');
        var formData = new FormData();
        formData.append("ids", ids);
        var option = {
            postUrl: '/Ims/ims_pay/remove',
            message: '确定要删除这' + row.length + '条记录吗？',
            param: formData,
            successCallBack: function (data) { //成功

                tableRefresh();
            },
            errorCallBack: null
        };
        bstrap.confirm(option); //弹出提示确认框



    }



</script>