 <form id="dform" class="form-horizontal">
     <div class="ibox">
         <div class="ibox-title">
             <h5>系统菜单 修改</h5>
         </div>
         <div class="ibox-content">
             <div class="row">
                 <input id='MODULEID' name='MODULEID' placeholder='模块ID' type='hidden' class='form-control'>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="MODULECODE">模块编号 :</label>
                         <div class="col-sm-8">
                             <input id='MODULECODE' name='MODULECODE' readonly placeholder='模块编号'
                                 value='<%=Model.MODULECODE%>' class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="MODULENAME">模块名称 :</label>
                         <div class="col-sm-8">
                             <input id='MODULENAME' name='MODULENAME' placeholder='模块名称' value='<%=Model.MODULENAME%>'
                                 class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="PARENTID">父节点 :</label>
                         <div class="col-sm-8">
                             <select id='PARENTID' name='PARENTID' placeholder='父节点' value='<%=Model.PARENTID%>'
                                 class='form-control'> </select>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="ICON">图标 :</label>
                         <div class="col-sm-8">
                             <input id='ICON' name='ICON' placeholder='图标 ' value='<%=Model.ICON%>'
                                 class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="URLADDRESS">连接地址 :</label>
                         <div class="col-sm-8">
                             <input id='URLADDRESS' name='URLADDRESS' placeholder='连接地址' value='<%=Model.URLADDRESS%>'
                                 class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="TARGET">类型 :</label>
                         <div class="col-sm-8">
                             <input id='TARGET' name='TARGET' placeholder='类型' value='<%=Model.TARGET%>'
                                 class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="SORTCODE">序号 :</label>
                         <div class="col-sm-8">
                             <input id='SORTCODE' name='SORTCODE' placeholder='序号' value='<%=Model.SORTCODE%>'
                                 class='form-control'>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="MEMO">描述 :</label>
                         <div class="col-sm-8">
                             <input id='MEMO' name='MEMO' placeholder='描述' value='<%=Model.MEMO%>' class='form-control'>
                         </div>
                     </div>
                 </div>

             </div>
         </div>

     </div>

 </form>




 <script>
     $(function () {

         $('#PARENTID').selectBind('/SystemManage/sys_module/GetComb')
         $('#PARENTID').change(function () {
             parentPost($(this).val())
         });
         $('#PARENTID').val(<%=Model.PARENTID%>)
     });

     function parentPost(id) {

         var params = new FormData();
         params.append("parentId", id)
         var option = {
             param: params,
             postUrl: "/SystemManage/sys_module/GetCodeByParentId",
             callback: function (data) {
                 $("#MODULECODE").val(data.moduleCode)
             },
             errorCallBack: function (err) {

             }
         };
         bstrap.post(option); //弹出提示确认框
     }


     function initValidator() {
         $('#dform').bootstrapValidator({
             message: 'This value is not valid',
             feedbackIcons: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {}

         });
     }


     function Submit() {
         initValidator();
         $('#dform').data('bootstrapValidator').validate();
         if (!$('#dform').data('bootstrapValidator').isValid()) {
             return false;
         }
         var arr = [0, 0, 0, 0, 0, 0];
         $("input[type='checkbox']:checked").each(function (i) {
             arr[$(this).val()] = 1;
         });
         $("#FUNITEM").val(arr.join(''));
         var action = $("#dform").attr("action");
         var params = new FormData($("#dform")[0]);
         var option = {
             postUrl: action,
             message: '确定要保存数据吗？',
             param: params,
             successCallBack: function (data) { //添加成功
                 var index = parent.layer.getFrameIndex(window.name);
                 parent.tableRefresh();
                 parent.layer.close(index);

             },
             errorCallBack: null
         };
         bstrap.confirm(option); //弹出提示确认框
     }
 </script>