<div class="wrapper wrapper-content animated " style="">
    <div class="ibox-content">
        <form id="dform" class="form-horizontal">
            <input type="hidden" id='OPID' name="OPID" value='<%=Model.OPID%>' >

      
            <div class="form-group">
                <label class="col-sm-3 control-label" for="Account">账号</label>
                <div class="col-sm-9">
                    <input id="Account" name="Account" readonly class="form-control required"
                        value="<%=Model.ACCOUNT%>" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="SoftName">真实姓名</label>
                <div class="col-sm-9">
                    <input id="RealName" name="RealName" readonly class="form-control required"
                        value="<%=Model.OPNAME%>" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label">新密码</label>

                <div class="col-sm-9">
                    <input class="form-control" id="UserPassword" type="password" placeholder="请输入新密码"
                        name="UserPassword" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label">重新输入</label>

                <div class="col-sm-9">
                    <input class="form-control" id="confirmPassword" type="password" placeholder="请再次输入新密码"
                        name="confirmPassword" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {

        initValidator();
    });
    function initValidator() {
        $('#dform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                //产品组合
                UserPassword: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 30,
                            message: '密码长度在1到30之间'
                        }
                    }
                },
                confirmPassword: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 30,
                            message: '密码长度在1到30之间'
                        },
                        identical: {//相同
                            field: 'UserPassword',
                            message: '两次密码不一致'
                        },
                    }
                }
            }
        });
    }
    function Submit() {
        $('#dform').data('bootstrapValidator').validate();
        if (!$('#dform').data('bootstrapValidator').isValid()) {
            return false;
        }
        var action = "/SystemManage/sys_user/ModifyUserPwd";

        var params = new FormData($("#dform")[0]);
        var option = {
            postUrl: action,
            message: '确定要保存数据吗？',
            param: params,
            successCallBack: function (data) { //添加成功
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);

            },
            errorCallBack: null
        };
        bstrap.confirm(option); //弹出提示确认框
    }
</script>