
<!-- 底部 begin-->
<footer id="lk_footer">
    <div class="container pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4">
                <div class="row">
                    <ul class="offset-2 col-lg-5">
                        <li><a href=""></a>关于我们</li>
                        <li><a href=""></a>产品中心</li>
                        <li><a href=""></a>新闻资讯</li>
                    </ul>
                    <ul class="col-lg-5">
                        <li><a href=""></a>服务支持</li>
                        <li><a href=""></a>联系我们</li>
                        <li><a href=""></a>工具下载</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <h6>公司地址:福州市鼓楼区软件大道24号软件园B区12#</h6>
                <h6>联系电话:13844588832</h6>
                <h6>邮箱地址:yinw@landicorp.com</h6>
            </div>
            <div class="col-lg-3">
                <h6>联系我们:</h6>
            </div>
        </div>
    </div>
</footer>
<!-- 底部 end-->