 <form id="dform" class="form-horizontal">
     <div class="ibox">
         <div class="ibox-title">
             <h5> 终端黑名单 新增</h5>

         </div>
         <div class="ibox-content">
             <div class="row">
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="terminalId"> <i class=" text-danger">* </i>
                            银行终端号:</label>
                         <div class="col-sm-8"> 
                             <select id='terminalId' name='terminalId' required class='form-control'></select> </div>
                     </div>
                 </div>
              
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="reason">加入黑名单原因 :</label>
                         <div class="col-sm-8">

                             <input id='reason' name='reason' placeholder='请输入加入黑名单原因' class='form-control'> </div>
                     </div>
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <label class="col-sm-4 control-label" for="memo">备注 :</label>
                         <div class="col-sm-8">

                             <input id='memo' name='memo' placeholder='请输入备注' class='form-control'> </div>
                     </div>
                 </div>
               
             </div>

         </div>
     </div>
 </form>




 <script>
     $(function () {
         $('#terminalId').selectBind('/SystemManage/sys_terminal/GetBankTerminalComb');
        

     });

     function initValidator() {
         $('#dform').bootstrapValidator({
             message: 'This value is not valid',
             feedbackIcons: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 //
                 terminalId: {
                     message: ' 验证失败',
                     validators: {
                         notEmpty: {
                             message: ' 不能为空'
                         },
                         stringLength: {
                             min: 1,
                             max: 60,
                             message: '  长度在1到60之间'
                         }
                     }
                 },
                 //开始时间
                 startTime: {
                     message: '开始时间 验证失败',
                     validators: {
                         notEmpty: {
                             message: '开始时间 不能为空'
                         },
                         stringLength: {
                             min: 1,
                             max: 60,
                             message: ' 开始时间 长度在1到60之间'
                         }
                     }
                 },
                 //黑名单状态  0 黑名单状态正常 1 解除黑名单状态
                 stauts: {
                     message: '黑名单状态  0 黑名单状态正常 1 解除黑名单状态 验证失败',
                     validators: {
                         notEmpty: {
                             message: '黑名单状态  0 黑名单状态正常 1 解除黑名单状态 不能为空'
                         },
                         stringLength: {
                             min: 1,
                             max: 60,
                             message: ' 黑名单状态  0 黑名单状态正常 1 解除黑名单状态 长度在1到60之间'
                         }
                     }
                 },
             }

         });
     }


     function submit() {
         initValidator();
         $('#dform').data('bootstrapValidator').validate();
         if (!$('#dform').data('bootstrapValidator').isValid()) {
             return false;
         }
         var action = $("#dform").attr("action");
         var params = new FormData($("#dform")[0]);
         var option = {
             postUrl: action,
             message: '确定要保存数据吗？',
             param: params,
             successCallBack: function (data) { //添加成功
                 var index = parent.layer.getFrameIndex(window.name);
                 parent.tableRefresh();
                 parent.layer.close(index);

             },
             errorCallBack: null
         };
         bstrap.confirm(option); //弹出提示确认框
     }
 </script>